.cmake/
Testing/
deps*/
/tests/temp
/tests/mocha
*.dSYM
*.o
out/
.idea
.vscode
output/
build/
index.*
src/examples/clash-example
*.a
.ninja*
build.ninja
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
